@import './../../../styles/pallete.scss';
$shadow: 0 0 3px $shadow-color;
$shadow-inset: inset 0 0 3px $shadow-color;

:host {
  position: relative;
  display: block;
}

.section {
  padding: 0;
}

.top-fill {
  height: 100px;
  background-color: $bg-color;
  width: 100%;
  position: fixed;
  top: -95px;
}

.fade {
  opacity: 0;
}

.parallax-container {
  background-color: $parallax-bg;
  height: 400px;
  box-shadow: $shadow-inset;

  &.fixed {
    position: fixed;
    width: 100%;
    top: -320px;
  }
}

.parallax {
  position: static;

  img {
    content: '';
    opacity: .2;
  }
}

@import './menu-bar';
@import './code';
