<div id="scroll-spacer"></div>
<div id="index-banner" class="parallax-container">
  <div class="parallax"><img src="./../../../assets/images/capsule-negative.gif" alt=""></div>
</div>
<div class="menu">
  <div class="bar left"></div>
  <div class="bar right"></div>
  <div class="center logo">Capsule 42 | Jason Baker</div>
</div>
<div class="section code">
  <div class="container">
    <!-- <div class="row intro">
      <span *ngFor="let i of codeHtml" class="{{i.class}}">{{i.value}}</span>
      <span class="cursor"></span>
    </div> -->
    <div class="row intro">
      <span class="html-frame">&lt;</span>
      <span class="element">d</span>
      <span class="element">e</span>
      <span class="element">v</span>
      <span class="element">e</span>
      <span class="element">l</span>
      <span class="element">o</span>
      <span class="element">p</span>
      <span class="element">e</span>
      <span class="element">r</span>
      <span class="break wide"> </span>
      <span class="attr">i</span>
      <span class="attr">d</span>
      <span class="equal">=</span>
      <span class="value">"</span>
      <span class="value">j</span>
      <span class="value">a</span>
      <span class="value">s</span>
      <span class="value">o</span>
      <span class="value">n</span>
      <span class="value">-</span>
      <span class="value">b</span>
      <span class="value">a</span>
      <span class="value">k</span>
      <span class="value">e</span>
      <span class="value">r</span>
      <span class="value">"</span>
      <span class="break wide"> </span>
      <span class="attr">c</span>
      <span class="attr">l</span>
      <span class="attr">a</span>
      <span class="attr">s</span>
      <span class="attr">s</span>
      <span class="equal">=</span>
      <span class="value">"</span>
      <span class="value">w</span>
      <span class="value">e</span>
      <span class="value">b</span>
      <span class="value"> </span>
      <span class="value">w</span>
      <span class="value">e</span>
      <span class="value">b</span>
      <span class="value">-</span>
      <span class="value">a</span>
      <span class="value">p</span>
      <span class="value">p</span>
      <span class="value"> </span>
      <span class="value">f</span>
      <span class="value">u</span>
      <span class="value">l</span>
      <span class="value">l</span>
      <span class="value">-</span>
      <span class="value">s</span>
      <span class="value">t</span>
      <span class="value">a</span>
      <span class="value">c</span>
      <span class="value">k</span>
      <span class="value"> </span>
      <span class="value">d</span>
      <span class="value">e</span>
      <span class="value">s</span>
      <span class="value">i</span>
      <span class="value">g</span>
      <span class="value">n</span>
      <span class="value">"</span>
      <span class="element"> </span>
      <span class="html-frame">/</span>
      <span class="html-frame">&gt;</span>
      <span class="cursor"></span>
    </div>
  </div>
</div>
<div class="top-fill"></div>
