// Colors
$red: #f78d8c;
$lite-blue: lighten(#6a9fb5, 8%);
$blue: #6a9fb5;
$dark-blue: darken(#6a9fb5, 15%);
$yellow: #ffd160;
$green: #9ca;
$lite-gray: #5b5b5a;
$gray: #3a3a3a;
$dark-gray: #262626;
$black: rgba(0,0,0,1);

// Shared
$bg-color: $blue;
$bg-gray: lighten($gray, 5%);
$color: $gray;
$trim: $dark-gray;
$shadow-color: $black;
$fader-color: $dark-gray;
$section-bg-highlight: $lite-blue;
$section-bg-shadow: $dark-blue;

// Code
$code-html-frame: $blue;
$code-element: $red;
$code-attr: $green;
$code-value: $yellow;
$code-equal: $blue;
$code-cursor: $blue;

// Header
$barcode-color: $blue;
$scroll-backdrop: $gray;
$parallax-bg: $gray;

// Social Links
$social-link-color: lighten($gray, 5%);
$social-link-hover-color: $yellow;

// Resume
$resume-bg: $bg-gray;
$resume-color: $blue;
$resume-job-title-color: $blue;

// Portfolio
$site-bg: lighten($gray, 5%);
$site-web-header: #c4c3ca;
$site-web-header-border: #909497;
$mobile-app-device-frame: #0f0f0f;

// Skills
$skills-bg: $bg-gray;
$skills-color: $blue;
