@import './../../../styles/pallete.scss';
$shadow: 0 0 3px $shadow-color;

:host {
  position: relative;
  display: block;
}

:host {
  position: relative;
  display: block;
  transition: all 0s;
  box-shadow: 0 0 3px $shadow-color;
  border-top: solid 1px $section-bg-highlight;
  border-bottom: solid 1px $section-bg-shadow;
  z-index: +2;

  &.lock {
    position: fixed;
    width: 100%;
    top: 80px;
    background-color: $blue;
  }
}

.row {
  margin-bottom: 0;
}

.grid {
  text-align: center;
  line-height: 90px;

  a {
    display: inline-block;
    color: $social-link-color;
    font-size: 30px;
    margin: 0 20px;
    transition: all 200ms;
    text-shadow: 0 0 3px $section-bg-highlight;

    &:hover {
      color: $social-link-hover-color;
      text-shadow: $shadow;
    }
  }
}

@media only screen and ( max-width : 475px ) {
  .grid {
    a {
      font-size: 1.5rem;
      margin: 0 10px;
    }
  }
}
