@import './../../../styles/pallete.scss';
$shadow: 0 0 3px $shadow-color;

:host {
  position: relative;
  display: block;
}

.grid {
  text-align: center;
  margin-top: 20px;

  a {
    display: inline-block;
    color: $social-link-color;
    font-size: 2rem;
    margin: 0 20px;
    transition: all 200ms;

    &:hover {
      color: $social-link-hover-color;
      text-shadow: $shadow;
    }
  }
}

@media only screen and ( max-width : 475px ) {
  .grid {
    a {
      font-size: 1.5rem;
      margin: 0 10px;
    }
  }
}
