<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h3>Development Portfolio</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 portfolio-wrapper">
        <div class="portfolio-spacer">
          <div #portfolioSites class="frame {{s.type}}" *ngFor="let s of sites">
            <div class="app-header">
              <div class="buttons">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="app-tab">
                {{s.tab}}
              </div>
              <div class="app-tab-border"></div>
            </div>
            <div class="home-button"></div>
            <img src="{{s.image}}" alt="{{s.image_alt}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
